.hero__main {
  min-height: 100vh;
  background: url("../../public/imgs/main-bg.png");
  background-color: #ff7d7d;
  background-position: bottom;
  background-size: 100vw;
  background-repeat: no-repeat;
}
@media (max-width: 756px) {
  .hero__main {
    background-size: cover;
  }
}
.hero__main .background_hero {
  border: 2px solid red;
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: 0;
}

.hero_child {
  position: relative;
  z-index: 1;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero_child h1 {
  font-size: 5.5rem;
  width: 100%;
  color: #fff;
}
@media (max-width: 756px) {
  .hero_child h1 {
    font-size: 3rem;
    width: 100%;
  }
}