//background colors
$pink: #ff7d7d;
$blue: #7dd8ff;
$lightpurple: #c0caff;
$skin: #ff9f7d;
$green: #ceff7d;
$purple: #8f7dff;
$lightbrown: #ffd37d;

// coresponding text colors
$pink-text: #fff;
$blue-text: #181844;
$lightpurple-text: #232250;
$skin-text: #3a231b;
$green-text: #1d2909;
$purple-text: #24203f;
$lightbrown-text: #30230a;
