@import "colors";
.blog__section__main {
  color: $skin-text;
  min-height: 100vh;
  display: flex;
  .explaination__logos {
    display: flex;
    justify-content: center;
    img {
      width: 30rem;
    }
  }
}

.blog__section__child {
  display: flex;

  gap: 5rem;
  justify-content: space-around;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 3.5rem;
    text-align: left;
    @media (max-width: 800px) {
      text-align: center;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 800px) {
      width: 100%;
    }
    gap: 2rem;
    p {
      width: 33rem;
      font-size: 1.5rem;
      @media (max-width: 800px) {
        width: 100%;
        text-align: center;
      }
      text-align: start;
    }
    .button__farmer {
      width: 100%;
      display: flex;
      @media (max-width: 800px) {
        width: 100%;
        justify-content: center;
      }

      button {
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }
}

#blog-1 {
  .blog__section__child {
    flex-direction: row-reverse;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
