@import "colors";
.hero__main {
  min-height: 100vh;
  background: url("../../public/imgs/main-bg.png");
  background-color: $pink;
  background-position: bottom;
  background-size: 100vw;
  background-repeat: no-repeat;
  @media (max-width: 756px) {
    background-size: cover;
  }
  .background_hero {
    border: 2px solid red;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 0;
  }
}
.hero_child {
  position: relative;
  z-index: 1;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h1 {
    font-size: 6rem;
    width: 80%;
    color: $pink-text;
    @media (max-width: 756px) {
      font-size: 3rem;
      width: 100%;
    }
  }
}
